@charset "utf-8";
/* CSS Document */
body
{
background:url(../Images/background.jpg);
overflow:scroll;
}
#wrapper
{
width:923px;
height:auto;
margin:0px auto;
overflow:hidden;
}
#top_part
{
width:923px;
height:15px;
background:url(../Images/top1.png);
background-repeat:no-repeat;
margin-top:10px;
}
#mid_part
{
width:923px;
height:auto;
overflow:hidden;
background:url(../Images/mid.png);
background-repeat:repeat-y;
padding:30px;
}
#bottom_part
{
width:923px;
height:38px;
background:url(../Images/bottom1.png);
background-repeat:no-repeat;
}
#form_container
{
width:100%;
height:auto;
overflow:hidden;
float:left;
text-align:justify;
font-family:Arial, Helvetica, sans-serif;
word-spacing:5px;
font-size:14px;
}
#form_container h1
{
font-family:Georgia, "Times New Roman", Times, serif;
font-size:30px;
color:#312378;
margin-top:70px;
}
.FirstColumn
{
width:120px;
font-size:14px;
}
.LastColumn
{
min-width:300px;
}
#OuterTable
{
width:860px;
padding:0px;
/*border:1px solid #999999;*/
}
.InnerTable
{
width:800px;
margin:0px auto;
/*border:1px solid #999999;*/
}
fieldset
{
margin-top:10px;
}
legend
{
font-size:12px;
}
.TextField
{
border:1px solid #999999;
width:350px;
}
select
{
border:1px solid #999999;
}
