.userinterface {
	background-color: #E9E9E9;
	height: 100%;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	position: absolute;
	left: 5px;
	top: 7px;
	
}


.header {
	background-color: #4242424;
	border: 1px solid #133e40;
	border-radius: 5px;
  	box-shadow: inset 0 0 50px #000000;
	height: 17%;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 15px;
}

.content1 {
	padding-top:50px;
	width:100%;
	
}

.heading1 {
	font-family: Bernard MT Condensed;
	color: #FFF;
	padding-left: 0px;
	font-size: 60px;
	font-style: normal;
}
	
.menuposi {
	float: none;
	height: 50px;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}
#menu ul,
#menu li,
#menu a {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
}
#menu {
  border: 1px solid #133e40;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin-right: auto;
  margin-left: auto;
  height: 7%;
  width: 100%;
  float: none;
}
#menu ul {
  zoom: 1;
  background: #5B74A8;
  background: -moz-linear-gradient(top, #5B74A8 0%, #191a1a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #36b0b6), color-stop(100%, #191a1a));
  background: -webkit-linear-gradient(top, #5B74A8 0%, #191a1a 100%);
  background: -o-linear-gradient(top, #5B74A8 0%, #191a1a 100%);
  background: -ms-linear-gradient(top, #5B74A8 0%, #191a1a 100%);
  background: linear-gradient(top, #365231b 0%, #191a1a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@top-color', endColorstr='@bottom-color', GradientType=0);
  padding: 5px 0px;
  padding-left:27%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
#menu ul:before {
  content: '';	
  display: block;
}
#menu ul:after {
  content: '';
  display: table;
  clear: both;
}
#menu li {
  float: left;
  margin: 0 100px 0 30px;
  border: 1px solid transparent;
}
#menu li a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 8px 15px 9px 15px;
  display: block;
  text-decoration: none;
  color: #FFF;
  border: 1px solid transparent;
  font-size: 20px;
  font-family: "Palatino Linotype", "Book Antiqua";
}
#menu li.active {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #CCC;
  border: 1px solid #323434;
}
#menu li.active a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: block;
  border: 1px solid #000000;
  -moz-box-shadow: inset 0 5px 10px #000000;
  -webkit-box-shadow: inset 0 5px 10px #000000;
  box-shadow: inset 0 5px 10px #000000;
}
#menu li:hover {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #323434;
  font-family: "Palatino Linotype", "Book Antiqua";
  font-size: 20px;
}
#menu li:hover a {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	display: block;
	background: #000000;
	border: 1px solid #000000;
	-moz-box-shadow: inset 0 5px 10px #000000;
	-webkit-box-shadow: inset 0 5px 10px #000000;
	box-shadow: inset 0 5px 10px #000000;
	font-family: "Palatino Linotype", "Book Antiqua";
	
}

.content4 {
	padding-left:20px;
	padding-right:20px;
	height: auto;
	width: auto;
	position: absolute;
	left: 300px;
	top: 180px;
	text-align: justify;
	border: 4px solid #000;
	border-radius : 20px;
	background-color:#ADD8E6;
	
}

.content5{
	padding-top:20px;
	padding-left:350px;
	padding-right:350px;
	height:430px;
	border : 3px;
}

.content6{
	height: auto;
	width:70%;
	position: absolute;
	left: 200px;
	top: 246px;
	text-align: justify;
	padding-right:100px;
}

.heading2 {
	font-family: Bernard MT Condensed;
	color: #42424;
	padding-left: 30px;
	font-size: 60px;
	font-style: normal;
}

.content2 {
	height: 277px;
	width: 572px;
	position: absolute;
	left: 696px;
	top: 258px;
	text-align: justify;
}

.writing {
	font-family: Tahoma;
	color: #000;
	font-size: 21px;
	font-style: normal;
}

.content3 {
	position: absolute;
	left: 882px;
	top: 290px;
	width: 281px;
	height: 44px;
}



.faginterface {
	background-color: #E9E9E9;
	height: 941px;
	width: 1343px;
	margin-right: auto;
	margin-left: auto;
	position: absolute;
	left: 6px;
	top: 7px;
}

.faq1 {
	position: absolute;
	font-family: Tahoma;
	color: #460000;
	font-size: 25px;
	font-style: normal;
	left: 26px;
	top: 212px;
}

.faq2 {
	position: absolute;
	font-family: Tahoma;
	color: #484848;
	font-size: 20px;
	font-style: normal;
	left: 63px;
	top: 257px;
	width: 1244px;
	height: 47px;
	text-align: justify;
}

.faq3 {
	position: absolute;
	font-family: Tahoma;
	color: #460000;
	font-size: 25px;
	font-style: normal;
	left: 26px;
	top: 324px;
	width: 605px;
}

.faq4 {
	position: absolute;
	font-family: Tahoma;
	color: #484848;
	font-size: 20px;
	font-style: normal;
	left: 63px;
	top: 367px;
	width: 1247px;
	height: 47px;
	text-align: justify;
}

.faq5 {
	position: absolute;
	font-family: Tahoma;
	color: #460000;
	font-size: 25px;
	font-style: normal;
	left: 26px;
	top: 482px;
	width: 605px;
}

.faq6 {
	position: absolute;
	font-family: Tahoma;
	color: #484848;
	font-size: 20px;
	font-style: normal;
	left: 63px;
	top: 524px;
	width: 1247px;
	height: 47px;
	text-align: justify;
}

.faq7 {
	position: absolute;
	font-family: Tahoma;
	color: #460000;
	font-size: 25px;
	font-style: normal;
	left: 26px;
	top: 594px;
	width: 605px;
}

.faq8 {
	position: absolute;
	font-family: Tahoma;
	color: #484848;
	font-size: 20px;
	font-style: normal;
	left: 63px;
	top: 639px;
	width: 1247px;
	height: 47px;
	text-align: justify;
}

.faq9 {
	position: absolute;
	font-family: Tahoma;
	color: #460000;
	font-size: 25px;
	font-style: normal;
	left: 26px;
	top: 687px;
	width: 605px;
}

.faq10 {
	position: absolute;
	font-family: Tahoma;
	color: #484848;
	font-size: 20px;
	font-style: normal;
	left: 63px;
	top: 734px;
	width: 1247px;
	height: 47px;
	text-align: justify;
}

.faq11 {
	position: absolute;
	font-family: Tahoma;
	color: #460000;
	font-size: 25px;
	font-style: normal;
	left: 26px;
	top: 825px;
	width: 605px;
}

.faq12 {
	position: absolute;
	font-family: Tahoma;
	color: #484848;
	font-size: 20px;
	font-style: normal;
	left: 63px;
	top: 871px;
	width: 1247px;
	height: 47px;
	text-align: justify;
}

.accountsettings {
	font-family: Tahoma;
	color: #000;
	font-size: 15px;
	font-style: normal;
	text-align: left;
}

.datatable {
	width: 98%;
	table-layout: inherit;
	border-radius: 5px;
	overflow: scroll;
}
.datath {
    background-color: #666;
    color: white;
	text-align: left;
	overflow: scroll;
}

.datatd {
    text-align: left;
	padding: 10px;
	overflow: scroll;
}

.sidebar1{
	padding-left:350px;
	float:left;
}

.common{
	height:150px;
	width:100%;
	border : 4px solid #133e40;
	border-radius: 10px;
	
	
}

.feedbackmainsectionheading {
	font-family: Futura;
	color: #42424;
	padding-up:20px;
	padding-down:10px;
	font-size: 30px;
	font-style: normal;
	
}
.feedbackmainsectiondescription {
	font-family: Futura;
	color: #42424;
	padding-down:30px;
	font-size: 20px;
	font-style: normal;
}
input[type=submit] {
  -webkit-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
	box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
	background-color:#5B74A8;
	border:1px solid #29447E;
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
	font-size:12px;
	font-weight:700;
	padding:2px 6px;
	height:28px;
	color:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px
}
input[type=reset] {
  -webkit-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
	box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
	background-color:#5B74A8;
	border:1px solid #29447E;
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
	font-size:12px;
	font-weight:700;
	padding:2px 6px;
	height:28px;
	color:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px
}
  
  .name{
	font-size : 20px;
  }
  
  .sideproject1{
	height :100%;
	float:right;
	padding-right:20px;
  }
  
  .sideproject2{
	height:100%;
	float:right;
  }
  
  .border{
	padding-left:15px;
	padding-right:15px;
	padding-top:5px;
	border: 4px solid #000;
	border-radius : 20px;
	background-color:#ADD8E6;
  }
  
